# Format of this config file:
# - one line per 'options key': per specific set of v-annotate.pl options to
#   use for a set of models
# - each line has 3 fields: 'options_key' 'model_dir' 'options'
# - first two fields are white space delimited, (that is, first token is
#   'options key' (no spaces allowed) and second token is 'model_dir' (no spaces allowed)
#   All remaining text is combined to make field 3 (field 3 will contains whitespace)
#
dengue    $VADRINSTALLDIR/vadr-models-flavi  --split --cpu 1 --group Dengue --nomisc --noprotid --mkey flavi -r
hcv       $VADRINSTALLDIR/vadr-models-flavi  --split --cpu 4 -r --mkey flavi --group HCV
flavi     $VADRINSTALLDIR/vadr-models-flavi  --split --cpu 1 -r --nomisc
norovirus $VADRINSTALLDIR/vadr-models-calici --split --cpu 1 --group Norovirus --nomisc --noprotid --mkey calici -r
calici    $VADRINSTALLDIR/vadr-models-calici --split --cpu 1 -r --nomisc 
#
# Rule for how we determine <s> value for --mkey <s> to pass to v-annotate.pl
# inside v-scan.pl:
# 1. It is '--mkey <s>' if '--mkey <s>' exists in the 'options' string (field 3)
# 2. Else it is 'options_key' value
# 
# This means that multiple, different 'options_key' values can use the
# same model directory.  This allows us to have a different line for
# 'options_key' values 'norovirus' and 'calici'.  for example, but
# have them both use --mkey calici for the --cls_only classification
# stage inside v-scan.pl. Any sequences that match best to 'norovirus'
# will be rerun using v-annotate.pl with the options string for the
# line starting with 'norovirus'. Any sequences matching to
# non-norovirus models in the 'calici' library will be rerun using
# v-annotate.pl with the options string for the line starting with
# 'calici'.
# 
# For sequences to 'match best' to norovirus, they must
# match to a model in the 'calici' library that has either a name,
# group or subgroup value that is 'norovirus' (*after removing special
# characters and converting to lowercase*, so a name, group or
# subgroup values of 'NOROvirus' 'norovirus!' or 'Noro-virus' would
# all 'match best' to norovirus). The v-scan.pl program checks
# that at least one model in each library $okey (e.g. 'calici') meets
# this criteria for every $okey2 (e.g. 'norovirus') that uses $okey as
# its model key.
